.flex{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    
}

.flex_input {
    display: center;
    flex-direction: cente;
    align-items: center;
    margin-left: 600px;
    margin-right: 80px;
    height: 10v;
    width: 30vh;
    border-radius: 16%;
    
     
}

.center{
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

#imagem{
   width: 20vh;
   border-radius: 6%;

}

*{
   margin: 0;
   padding: 0;

}

